.bg {
    background: url(./../../Images/Backgrounds/gory-les-reka-priroda-karakol.jpg) center / cover no-repeat;
    box-shadow: inset 0 0 100px 100px black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card_form {
    flex: 0 1 40%;
    height: 40vh;
    background: rgba(1, 66, 1, 0.392);
}