@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");



* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.section2_h1 {
    margin-top: 10%;
}

.section2_h1 h1 {
    font-family: 'Montserrat';

    font-size: 50px;
    text-align: center;
    margin-top: 4%;
    color: yellow;
    font-weight: 700;

}

.section2_h1 p {
    font-family: 'Montserrat';

    font-size: 24px;
    color: white;
    margin-top: 4%;
    line-height: 35px;
}

.section2_h1 img {
    width: 100%;
    margin-top: 10%;
}

.p_tour {
    font-family: 'Montserrat';

    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 10%;
}


@media(max-width:415px) {
    .container {
        width: 100%;
    }

    .section2_h1 h1 {
        font-size: 30px;
    }

    .section2_h1 p {
        font-size: 15px;
        text-align: center;
    }

    .section2_h1 img {
        width: 100%;
        margin-top: 10%;
    }

    .p_tour {
        font-family: 'Montserrat';
        text-align: center;
        font-size: 15px;
        color: white;
        margin-top: 10%;
    }


}